<!-- app/views/user_mailer/welcome_message.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }

    h1 {
      color: #333;
    }

    p {
      color: #666;
    }

    .cta-container {
      margin-top: 20px;
    }

    .cta {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 20px;
      text-align: center;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  </style>
</head>
<body>
  <h1>Welcome to Dalel!</h1>
  <p>Hello,</p>
  <p>Congratulations! Your email has been successfully confirmed. Now you can explore the rich history and culture of Egypt through Dalel, your ultimate guide to the wonders of this beautiful land.</p>
  <p>Feel free to wander through the virtual landscapes, discover hidden gems, and immerse yourself in the beauty of Egypt's timeless treasures.</p>
  <p>Thank you for joining us on this exciting journey!</p>

  <div class="cta-container">
    <div class="cta">Continue the Adventure on Our Mobile App</div>
  </div>
</body>
</html>
